.git/**
.vscode/**
.vscode-test/**
docs/**
src/**
out/**
out-test/**
scripts/**
*.vsix
**/*.map
esbuild.js
tsconfig*.json
.gitignore
Makefile
node_modules/tree-sitter-wasms/out/*
!node_modules/tree-sitter-wasms/out/tree-sitter-go.wasm
!dist/extension.js
!dist/tree-sitter.wasm
!dist/tree-sitter-go.wasm
